<div action="" class="col-md-12">
    <label class="radio-inline">
        <input type="radio" id="CategoryID" name="CategoryID" value=1001> รอยขัดไม่หมดที่อยู่นอกพื้นที่ใช้งานและเข้ามาจากขอบslab ไม่เกิน 20 mm
    </label>
    <br>
    <label class="radio-inline">
        <input type="radio" id="CategoryID" name="CategoryID" value=1002> รอยขัดไม่หมดที่อยู่นอกพื้นที่ใช้งานและเข้ามาจากขอบslab เกิน 20 mm เกิดที่ด้านกว้างของslab
    </label>
    <br>
    <label class="radio-inline">
        <input type="radio" id="CategoryID" name="CategoryID" value=1003> พบรอยขัดไม่หมด อยู่ในพื้นที่ใช้งาน และความหนาslab ≥ 19.7 mm
    </label>
    <br>
    <label class="radio-inline">
        <input type="radio" id="CategoryID" name="CategoryID" value=1004> พบรอยขัดไม่หมด อยู่ในพื้นที่ใช้งาน และความหนาslab < 19.7 mm
    </label>
</div>

