<div action="" class="col-md-12">
    <label class="radio-inline">
        <input type="radio" id="CategoryID" name="CategoryID" value=1201> ไม่พบจุดดำในพื้นที่ใช้งาน
    </label>
    <br>
    <label class="radio-inline">
        <input type="radio" id="CategoryID" name="CategoryID" value=1202> พบจุดดำที่มีขนาดไม่เกิน 1 mm หรือระยะห่างจากจุดดำถึงจุดดำมากกว่า 600 mm
    </label>
    <br>
    <label class="radio-inline">
        <input type="radio" id="CategoryID" name="CategoryID" value=1203> พบจุดดำที่มีขนาดเกิน 1 mm หรือระยะห่างจากจุดดำถึงจุดดำน้อยกว่า 600 mm
    </label>
</div>

