<div action="" class="col-md-12">
    <label class="radio-inline">
        <input type="radio" id="CategoryID" name="CategoryID" value=101> ขนาดด้านยาวของ Slab มีค่าน้อยกว่า Spec
    </label>
    <br>
    <label class="radio-inline">
        <input type="radio" id="CategoryID" name="CategoryID" value=102> ขนาดด้านกว้างของ Slab มีค่าน้อยกว่า Spec
    </label>
    <br>
    <label class="radio-inline">
        <input type="radio" id="CategoryID" name="CategoryID" value=103> ขนาดความหนาของ Slab มีค่าอยู่ในช่วง 19.3 – 19.5 มม หรือ 20.5 – 20.7 มม
    </label>
    <br>
    <label class="radio-inline">
        <input type="radio" id="CategoryID" name="CategoryID" value=104> ขนาดความหนาของ Slab มีค่าน้อยกว่า 19.3 มม
    </label>
</div>