<div action="" class="col-md-12">
    <label class="radio-inline">
        <input type="radio" id="CategoryID" name="CategoryID" value=801> พบการบิ่นใต้ท้องที่มีความสูงไม่เกินครึ่งหนึ่งของความหนาslab และอยู่นอกพื้นที่ใช้งาน
    </label>
    <br>
    <label class="radio-inline">
        <input type="radio" id="CategoryID" name="CategoryID" value=802> พบการบิ่นใต้ท้องที่มีความสูงเกินครึ่งหนึ่งของความหนาslab เกิดที่ด้านยาวของ Slab และอยู่นอกพื้นที่ใช้งาน
    </label>
    <br>
    <label class="radio-inline">
        <input type="radio" id="CategoryID" name="CategoryID" value=803> พบการบิ่นใต้ท้องที่มีความสูงเกินครึ่งหนึ่งของความหนาslab เกิดที่ด้านกว้างของ Slab และอยู่นอกพื้นที่ใช้งาน
    </label>
    <br>
    <label class="radio-inline">
        <input type="radio" id="CategoryID" name="CategoryID" value=804> พบการบิ่นใต้ท้องที่มีความสูงไม่เกินครึ่งหนึ่งของความหนาslab จำนวน > 8 จุด เกิดที่ด้านกว้างของ Slab และอยู่นอกพื้นที่ใช้งาน
    </label>
    <br>
    <label class="radio-inline">
        <input type="radio" id="CategoryID" name="CategoryID" value=805> พบการบิ่นที่เข้ามาในพื้นที่ใช้งาน
    </label>
</div>

