<div action="" class="col-md-12">
    <label class="radio-inline">
        <input type="radio" id="CategoryID" name="CategoryID" value=901> การบวมนอกพื้นที่ใช้งานและมองไม่เห็น Defect
    </label>
    <br>
    <label class="radio-inline">
        <input type="radio" id="CategoryID" name="CategoryID" value=902> การบวมนอกพื้นที่ใช้งานและมองเห็น Defect
    </label>
    <br>
    <label class="radio-inline">
        <input type="radio" id="CategoryID" name="CategoryID" value=903> การบวมในพื้นที่ใช้งานทั้งมองเห็นและไม่เห็น Defect
    </label>
</div>

