<div action="" class="col-md-12">
    <label class="radio-inline">
        <input type="radio" id="CategoryID" name="CategoryID" value=701> ไม่พบการแตกมุม
    </label>
    <br>
    <label class="radio-inline">
        <input type="radio" id="CategoryID" name="CategoryID" value=702> ถ้าพบการแตกมุม ให้ทำการวัดระยะ โดยถ้าระยะที่แตกไปยาวไม่เกิน   20 x 20 mm. หรือ 10 x 30 mm
    </label>
    <br>
    <label class="radio-inline">
        <input type="radio" id="CategoryID" name="CategoryID" value=703> ถ้าพบการแตกมุม ให้ทำการวัดระยะ โดยถ้าระยะที่แตกไปยาวเกิน20 mm. และอยู่นอกพื้นที่ใช้งาน
    </label>
    <br>
    <label class="radio-inline">
        <input type="radio" id="CategoryID" name="CategoryID" value=704> ถ้าพบการแตกมุม และเข้าไปในพื้นที่ใช้งาน
    </label>
    <br>
</div>

