<div action="" class="col-md-12">
    <label class="radio-inline">
        <input type="radio" id="CategoryID" name="CategoryID" value=601> ไม่พบการแยกชั้น
    </label>
    <br>
    <label class="radio-inline">
        <input type="radio" id="CategoryID" name="CategoryID" value=602> พบการแยกชั้นเป็น แผลไม่อ้า ที่ด้านยาวของ Slab ความยาว ≤ 50 mm  จำนวน ≤ 4 แผล
    </label>
    <br>
    <label class="radio-inline">
        <input type="radio" id="CategoryID" name="CategoryID" value=603> พบการแยกชั้นเป็น แผลไม่อ้า ที่ด้านยาวของ Slab ความยาว > 50 mm แต่ ≤ 200 mm. จำนวน ≤ 4 แผล
    </label>
    <br>
    <label class="radio-inline">
        <input type="radio" id="CategoryID" name="CategoryID" value=604> พบการแยกชั้นเป็น แผลไม่อ้า ที่ด้านกว้างของ Slab
    </label>
    <br>
    <label class="radio-inline">
        <input type="radio" id="CategoryID" name="CategoryID" value=605> พบการแยกชั้นเป็น แผลอ้า ด้านยาวของ Slab ที่ด้านยาวของ Slab ความยาว ≤ 50 mm  จำนวน ≤ 4 แผล และลึกไม่เกิน 1 cm
    </label>
    <br>
    <label class="radio-inline">
        <input type="radio" id="CategoryID" name="CategoryID" value=606> พบการแยกชั้นเป็น แผลอ้า ด้านยาวของ Slab ที่ด้านยาวของ Slab ความยาว > 50 mm แต่ ≤ 200 mm. จำนวน ≤ 4 แผล และลึกไม่เกิน 1 cm
    </label>
    <br>
    <label class="radio-inline">
        <input type="radio" id="CategoryID" name="CategoryID" value=607> พบการแยกชั้นเป็น แผลอ้า ที่ด้านกว้างของ Slab และลึกไม่เกิน 5cm
    </label>
    <br>
    <label class="radio-inline">
        <input type="radio" id="CategoryID" name="CategoryID" value=608> กรณี แผลไม่อ้า พบการแยกชั้นที่ความยาว ≥ 200 mm
        กรณี แผลอ้า ด้านยาวของ Slab ลึกเกิน 1 cm   ด้านกว้างของ slab ลึกเกิน 5 cm
    </label>
</div>
