<div action="" class="col-md-12">
    <label class="radio-inline">
        <input type="radio" id="CategoryID" name="CategoryID" value=1401> กรณี Felt ผิวเรียบ รอย Felt ที่มีลวดลายกลมกลืนกับลวดลาย slab
    </label>
    <br>
    <label class="radio-inline">
        <input type="radio" id="CategoryID" name="CategoryID" value=1402> กรณี Felt ผิวเรียบ รอย Felt ที่มีลวดลายไม่กลมกลืนกับลวดลาย slab และความหนาslab > 19.7
    </label>
    <br>
    <label class="radio-inline">
        <input type="radio" id="CategoryID" name="CategoryID" value=1403> กรณี Felt ผิวเรียบ รอย Felt ที่มีลวดลายไม่กลมกลืนกับลวดลาย slab และความหนาslab < 19.7
    </label>
    <br>
    <label class="radio-inline">
        <input type="radio" id="CategoryID" name="CategoryID" value=1404> กรณี Felt ผิวไม่เรียบและความหนาslab > 19.7
    </label>
    <br>
    <label class="radio-inline">
        <input type="radio" id="CategoryID" name="CategoryID" value=1405> กรณี Felt ผิวไม่เรียบและความหนาslab < 19.7
    </label>
</div>

