<div action="" class="col-md-12">
    <label class="radio-inline">
        <input type="radio" id="CategoryID" name="CategoryID" value=1801> ลายคดที่ดูโดยรวมแล้วกลมกลืน
    </label>
    <br>
    <label class="radio-inline">
        <input type="radio" id="CategoryID" name="CategoryID" value=1802> ลายคดที่ดูโดยรวมแล้วไม่กลมกลืน
    </label>
    <br>
    <label class="radio-inline">
        <input type="radio" id="CategoryID" name="CategoryID" value=1803> ลายคดที่ดูโดยรวมแล้วไม่กลมกลืน และมี Defect อื่นที่เป็น out
    </label>
</div>

