<div action="" class="col-md-12">
    <label class="radio-inline">
        <input type="radio" id="CategoryID" name="CategoryID" value=1101> ไม่พบรอยหัวขัดหรือ พบรอยหัวขัดที่ยาว 2-3 นิ้วและไม่กินเข้าไปในเนื้อ slab
    </label>
    <br>
    <label class="radio-inline">
        <input type="radio" id="CategoryID" name="CategoryID" value=1102> พบรอยหัวขัดที่ยาวเกิน 3 นิ้วหรือ รอยหัวขัดที่กินเข้าไปในเนื้อ slab และความหนาslab ≥ 19.7 mm
    </label>
    <br>
    <label class="radio-inline">
        <input type="radio" id="CategoryID" name="CategoryID" value=1103> พบรอยหัวขัดที่ยาวเกิน 3 นิ้วหรือ รอยหัวขัดที่กินเข้าไปในเนื้อ slab และความหนาslab < 19.7 mm
    </label>
</div>

