<div action="" class="col-md-12">
    <label class="radio-inline">
        <input type="radio" id="CategoryID" name="CategoryID" value=301> ไม่พบรอยร้าวใด ๆ เลย
    </label>
    <br>
    <label class="radio-inline">
        <input type="radio" id="CategoryID" name="CategoryID" value=302> พบร้าวหน้าขนาดใดๆ ที่อยู่นอกพื้นที่ใช้งานด้านยาวของSlab
    </label>
    <br>
    <label class="radio-inline">
        <input type="radio" id="CategoryID" name="CategoryID" value=303> พบร้าวหน้าขนาดใดๆ ที่อยู่นอกพื้นที่ใช้งานด้านกว้างของSlab
    </label>
    <br>
    <label class="radio-inline">
        <input type="radio" id="CategoryID" name="CategoryID" value=304> พบการรอยร้าวอยู่ภายในพื้นที่ใช้งาน
    </label>
</div>