<div action="" class="col-md-12">
    <label class="radio-inline">
        <input type="radio" id="CategoryID" name="CategoryID" value=2201> ลายหยักที่ดูโดยรวมแล้วกลมกลืน
    </label>
    <br>
    <label class="radio-inline">
        <input type="radio" id="CategoryID" name="CategoryID" value=2202> ลายหยักที่ดูโดยรวมแล้วไม่กลมกลืน
    </label>
</div>

