<div action="" class="col-md-12">
    <label class="radio-inline">
        <input type="radio" id="CategoryID" name="CategoryID" value=501> ไม่พบรอยร้าวขอบเลยทั้ง 4 ด้าน
    </label>
    <br>
    <label class="radio-inline">
        <input type="radio" id="CategoryID" name="CategoryID" value=502> พบร้าวขอบที่ความยาวไม่เกิน 3 ส่วน 4 ของความหนา ที่ด้านยาวของ slab มีจำนวน ≤ 4 รอย
    </label>
    <br>
    <label class="radio-inline">
        <input type="radio" id="CategoryID" name="CategoryID" value=503> พบร้าวขอบที่ความยาวไม่เกิน 3 ส่วน 4 ของความหนา ที่ด้านกว้างของ slab มีจำนวน ≤ 2 รอย
    </label>
    <br>
    <label class="radio-inline">
        <input type="radio" id="CategoryID" name="CategoryID" value=504> กรณีแผลอ้า<br>
                                                                         - พบร้าวขอบข้างเดียวที่ด้านยาวของSlab และไม่ถึงผิวหน้าและอ้า จะวัดความลึก ต้องไม่เกิน 10 mm.<br />
                                                                         - พบร้าวขอบ 2 ด้าน และไม่ถึงผิวหน้า จะวัดความลึกต้องไม่เกิน 5 mm.
    </label>
    <br>
    <label class="radio-inline">
        <input type="radio" id="CategoryID" name="CategoryID" value=505> พบร้าวขอบที่ด้านกว้างของ Slab จำนวน > 2 รอย
    </label>
</div>