<div action="" class="col-md-12">
    <label class="radio-inline">
        <input type="radio" id="CategoryID" name="CategoryID" value=1701> ถ้าไม่มีลายเบลอหรือถ้าเบลอแล้วยังเห็นเส้นลายเดิมอยู่
    </label>
    <br>
    <label class="radio-inline">
        <input type="radio" id="CategoryID" name="CategoryID" value=1702> ถ้ามีลายเบลอแบบไม่เห็นลายเส้นเดิม พื้นที่ลายเบลอน้อยกว่า 6x6 นิ้ว
    </label>
    <br>
    <label class="radio-inline">
        <input type="radio" id="CategoryID" name="CategoryID" value=1703> ถ้ามีลายเบลอแบบไม่เห็นลายเส้นเดิม แต่ดูโดยรวมแล้วกลมกลืน
    </label>
    <br>
    <label class="radio-inline">
        <input type="radio" id="CategoryID" name="CategoryID" value=1704> ถ้ามีลายเบลอแบบไม่เห็นลายเส้นเดิม แต่ดูโดยรวมแล้วไม่กลมกลืน
    </label>
    <br>
    <label class="radio-inline">
        <input type="radio" id="CategoryID" name="CategoryID" value=1705> ถ้ามีลายเบลอแบบไม่เห็นลายเส้นเดิม แต่ดูโดยรวมแล้วไม่กลมกลืนและมี Defect อื่นที่เป็น out
    </label>
</div>

