<div action="" class="col-md-12">
    <label class="radio-inline">
        <input type="radio" id="CategoryID" name="CategoryID" value=1601> สีหยดที่ดูโดยรวมแล้วไม่ขัดแย้งกับพื้นที่โดยรอบ
    </label>
    <br>
    <label class="radio-inline">
        <input type="radio" id="CategoryID" name="CategoryID" value=1602> สีหยดที่ดูโดยรวมแล้วขัดแย้งกับพื้นที่โดยรอบ
    </label>
</div>

