<div action="" class="col-md-12">
    <label class="radio-inline">
        <input type="radio" id="CategoryID" name="CategoryID" value=2101> รอยต่อระหว่างชั้นที่อยู่บริเวณริม slab
    </label>
    <br>
    <label class="radio-inline">
        <input type="radio" id="CategoryID" name="CategoryID" value=2102> รอยต่อระหว่างชั้นที่อยู่บริเวณกลางแผ่น slab
    </label>
</div>

