<div action="" class="col-md-12">
    <label class="radio-inline">
        <input type="radio" id="CategoryID" name="CategoryID" value=401> ไม่พบรอยร้าวข้างใด ๆ เลยทั้ง 4 ด้าน
    </label>
    <br>
    <label class="radio-inline">
        <input type="radio" id="CategoryID" name="CategoryID" value=402> พบรอยร้าวด้านข้างขึ้นมาถึงผิวหน้าแต่อยู่นอกพื้นที่ใช้งานด้านยาวของslab  ความยาวของรอยร้าวที่ขึ้นมาที่ผิวหน้า ≤ 5 mm
    </label>
    <br>
    <label class="radio-inline">
        <input type="radio" id="CategoryID" name="CategoryID" value=403> พบรอยร้าวด้านข้างขึ้นมาถึงผิวหน้าแต่อยู่นอกพื้นที่ใช้งานด้านกว้างของslab
    </label>
    <br>
    <label class="radio-inline">
        <input type="radio" id="CategoryID" name="CategoryID" value=404> พบรอยร้าวด้านข้างขึ้นมาถึงผิวหน้า และเข้ามาในพื้นที่ใช้งาน หรือ พบร้าวข้างขึ้นมาถึงผิวหน้าที่ด้านยาวของ Slab ความยาว > 5 mm
    </label>
</div>