<div action="" class="col-md-12">
    <label class="radio-inline">
        <input type="radio" id="CategoryID" name="CategoryID" value=201> ไม่พบรอยกะเทาะใด ๆ เลย หรือพบการกะเทาะขนาด ø ≤ 0.7 mm. นาโนลงเต็มรูกะเทาะและลูบไม่สะดุด (ห้ามรวมกันเป็นกลุ่ม)
    </label>
    <br>
    <label class="radio-inline">
        <input type="radio" id="CategoryID" name="CategoryID" value=202> พบการกะเทาะขนาดใดๆ อยู่นอกพื้นที่ใช้งาน
    </label>
    <br>
    <label class="radio-inline">
        <input type="radio" id="CategoryID" name="CategoryID" value=203> สำหรับProduct โทนสีขาว : พบการกะเทาะขนาด0.7 < ø ≤ 2mm.นาโนลงเต็มรูกะเทาะและลูบไม่สะดุดและระยะห่างระหว่างจุดอย่างน้อย80 cm
    </label>
    <br>
    <label class="radio-inline">
        <input type="radio" id="CategoryID" name="CategoryID" value=204> Product โทนสีขาว :พบการกะเทาะขนาด 2< ø < mm ที่อยู่ในพื้นที่ใช้งาน หรือ Prodcut โทนสีดำ : พบการกะเทาะขนาด ø > 0.7 mm ที่อยู่ในพื้นที่ใช้งานและระยะห่างระหว่างจุดอย่างน้อย 80 cm
    </label>
    <br>
    <label class="radio-inline">
        <input type="radio" id="CategoryID" name="CategoryID" value=205> พบการกะเทาะที่มีขนาด ø > 5 mm อยู่ในพื้นที่ใช้งาน
    </label>
</div>