@{
    ViewBag.Title = "Index";
}
<body>
    <div class="container">
        <h5>DEFECT LOGGING APPLICATION</h5>
    </div>

    <div class="row">
        <div class="col-md-6">
            @Html.Partial("SlabIDPartial")
        </div>
    </div>
</body>
