@model geoluxe_defect_logging.Models.QC_SlabList
@using (Html.BeginForm("Index", "QC_DefectDataInput", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <form class="form-horizontal">
        <div class="container">
            <div class="col-md-4">
                <div class="form-group row">
                    <div class="col-md-12">
                        @Html.LabelFor(m => m.SlabID, null, new { @class = "control-label", @style = "text-align:right;padding-top: 7px;" })
                        <div class="col-md-12">
                            @Html.TextBoxFor(m => m.SlabID, null, new { @class = "form-control col-md-3 ", @type = "text", @Required = "Required", @minlength = "10", @maxlength = "10" })
                            <button type="submit" class="btn btn-default" name="submit">
                                <span class="glyphicon glyphicon-play"></span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
}