
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>TestGrid</title>
</head>
<body>
    <div>
        <canvas id="myCanvas7,1" width="25" height="25" style="border:1px solid #d3d3d3;"></canvas>
        <canvas id="myCanvas7,2" width="25" height="25" style="border:1px solid #d3d3d3;"></canvas>
        <canvas id="myCanvas7,3" width="25" height="25" style="border:1px solid #d3d3d3;"></canvas>
        <canvas id="myCanvas7,4" width="25" height="25" style="border:1px solid #d3d3d3;"></canvas>
        <canvas id="myCanvas7,5" width="25" height="25" style="border:1px solid #d3d3d3;"></canvas>
        <canvas id="myCanvas7,6" width="25" height="25" style="border:1px solid #d3d3d3;"></canvas>
        <canvas id="myCanvas7,7" width="25" height="25" style="border:1px solid #d3d3d3;"></canvas>
        <canvas id="myCanvas7,8" width="25" height="25" style="border:1px solid #d3d3d3;"></canvas>
        <canvas id="myCanvas7,9" width="25" height="25" style="border:1px solid #d3d3d3;"></canvas>
        <canvas id="myCanvas7,10" width="25" height="25" style="border:1px solid #d3d3d3;"></canvas>
        <canvas id="myCanvas7,11" width="25" height="25" style="border:1px solid #d3d3d3;"></canvas>
        <canvas id="myCanvas7,12" width="25" height="25" style="border:1px solid #d3d3d3;"></canvas>
        <canvas id="myCanvas7,13" width="25" height="25" style="border:1px solid #d3d3d3;"></canvas>
        <canvas id="myCanvas7,14" width="25" height="25" style="border:1px solid #d3d3d3;"></canvas>
        <canvas id="myCanvas7,15" width="25" height="25" style="border:1px solid #d3d3d3;"></canvas>
        <canvas id="myCanvas7,16" width="25" height="25" style="border:1px solid #d3d3d3;"></canvas>
        <br />
        <canvas id="myCanvas6,1" width="25" height="25" style="border:1px solid #d3d3d3;"></canvas>
        <canvas id="myCanvas6,2" width="25" height="25" style="border:1px solid #d3d3d3;"></canvas>
        <canvas id="myCanvas6,3" width="25" height="25" style="border:1px solid #d3d3d3;"></canvas>
        <canvas id="myCanvas6,4" width="25" height="25" style="border:1px solid #d3d3d3;"></canvas>
        <canvas id="myCanvas6,5" width="25" height="25" style="border:1px solid #d3d3d3;"></canvas>
        <canvas id="myCanvas6,6" width="25" height="25" style="border:1px solid #d3d3d3;"></canvas>
        <canvas id="myCanvas6,7" width="25" height="25" style="border:1px solid #d3d3d3;"></canvas>
        <canvas id="myCanvas6,8" width="25" height="25" style="border:1px solid #d3d3d3;"></canvas>
        <canvas id="myCanvas6,9" width="25" height="25" style="border:1px solid #d3d3d3;"></canvas>
        <canvas id="myCanvas6,10" width="25" height="25" style="border:1px solid #d3d3d3;"></canvas>
        <canvas id="myCanvas6,11" width="25" height="25" style="border:1px solid #d3d3d3;"></canvas>
        <canvas id="myCanvas6,12" width="25" height="25" style="border:1px solid #d3d3d3;"></canvas>
        <canvas id="myCanvas6,13" width="25" height="25" style="border:1px solid #d3d3d3;"></canvas>
        <canvas id="myCanvas6,14" width="25" height="25" style="border:1px solid #d3d3d3;"></canvas>
        <canvas id="myCanvas6,15" width="25" height="25" style="border:1px solid #d3d3d3;"></canvas>
        <canvas id="myCanvas6,16" width="25" height="25" style="border:1px solid #d3d3d3;"></canvas>
        <br />
        <canvas id="myCanvas5,1" width="25" height="25" style="border:1px solid #d3d3d3;"></canvas>
        <canvas id="myCanvas5,2" width="25" height="25" style="border:1px solid #d3d3d3;"></canvas>
        <canvas id="myCanvas5,3" width="25" height="25" style="border:1px solid #d3d3d3;"></canvas>
        <canvas id="myCanvas5,4" width="25" height="25" style="border:1px solid #d3d3d3;"></canvas>
        <canvas id="myCanvas5,5" width="25" height="25" style="border:1px solid #d3d3d3;"></canvas>
        <canvas id="myCanvas5,6" width="25" height="25" style="border:1px solid #d3d3d3;"></canvas>
        <canvas id="myCanvas5,7" width="25" height="25" style="border:1px solid #d3d3d3;"></canvas>
        <canvas id="myCanvas5,8" width="25" height="25" style="border:1px solid #d3d3d3;"></canvas>
        <canvas id="myCanvas5,9" width="25" height="25" style="border:1px solid #d3d3d3;"></canvas>
        <canvas id="myCanvas5,10" width="25" height="25" style="border:1px solid #d3d3d3;"></canvas>
        <canvas id="myCanvas5,11" width="25" height="25" style="border:1px solid #d3d3d3;"></canvas>
        <canvas id="myCanvas5,12" width="25" height="25" style="border:1px solid #d3d3d3;"></canvas>
        <canvas id="myCanvas5,13" width="25" height="25" style="border:1px solid #d3d3d3;"></canvas>
        <canvas id="myCanvas5,14" width="25" height="25" style="border:1px solid #d3d3d3;"></canvas>
        <canvas id="myCanvas5,15" width="25" height="25" style="border:1px solid #d3d3d3;"></canvas>
        <canvas id="myCanvas5,16" width="25" height="25" style="border:1px solid #d3d3d3;"></canvas>
        <br />
        <canvas id="myCanvas4,1" width="25" height="25" style="border:1px solid #d3d3d3;"></canvas>
        <canvas id="myCanvas4,2" width="25" height="25" style="border:1px solid #d3d3d3;"></canvas>
        <canvas id="myCanvas4,3" width="25" height="25" style="border:1px solid #d3d3d3;"></canvas>
        <canvas id="myCanvas4,4" width="25" height="25" style="border:1px solid #d3d3d3;"></canvas>
        <canvas id="myCanvas4,5" width="25" height="25" style="border:1px solid #d3d3d3;"></canvas>
        <canvas id="myCanvas4,6" width="25" height="25" style="border:1px solid #d3d3d3;"></canvas>
        <canvas id="myCanvas4,7" width="25" height="25" style="border:1px solid #d3d3d3;"></canvas>
        <canvas id="myCanvas4,8" width="25" height="25" style="border:1px solid #d3d3d3;"></canvas>
        <canvas id="myCanvas4,9" width="25" height="25" style="border:1px solid #d3d3d3;"></canvas>
        <canvas id="myCanvas4,10" width="25" height="25" style="border:1px solid #d3d3d3;"></canvas>
        <canvas id="myCanvas4,11" width="25" height="25" style="border:1px solid #d3d3d3;"></canvas>
        <canvas id="myCanvas4,12" width="25" height="25" style="border:1px solid #d3d3d3;"></canvas>
        <canvas id="myCanvas4,13" width="25" height="25" style="border:1px solid #d3d3d3;"></canvas>
        <canvas id="myCanvas4,14" width="25" height="25" style="border:1px solid #d3d3d3;"></canvas>
        <canvas id="myCanvas4,15" width="25" height="25" style="border:1px solid #d3d3d3;"></canvas>
        <canvas id="myCanvas4,16" width="25" height="25" style="border:1px solid #d3d3d3;"></canvas>
        <br />
        <canvas id="myCanvas3,1" width="25" height="25" style="border:1px solid #d3d3d3;"></canvas>
        <canvas id="myCanvas3,2" width="25" height="25" style="border:1px solid #d3d3d3;"></canvas>
        <canvas id="myCanvas3,3" width="25" height="25" style="border:1px solid #d3d3d3;"></canvas>
        <canvas id="myCanvas3,4" width="25" height="25" style="border:1px solid #d3d3d3;"></canvas>
        <canvas id="myCanvas3,5" width="25" height="25" style="border:1px solid #d3d3d3;"></canvas>
        <canvas id="myCanvas3,6" width="25" height="25" style="border:1px solid #d3d3d3;"></canvas>
        <canvas id="myCanvas3,7" width="25" height="25" style="border:1px solid #d3d3d3;"></canvas>
        <canvas id="myCanvas3,8" width="25" height="25" style="border:1px solid #d3d3d3;"></canvas>
        <canvas id="myCanvas3,9" width="25" height="25" style="border:1px solid #d3d3d3;"></canvas>
        <canvas id="myCanvas3,10" width="25" height="25" style="border:1px solid #d3d3d3;"></canvas>
        <canvas id="myCanvas3,11" width="25" height="25" style="border:1px solid #d3d3d3;"></canvas>
        <canvas id="myCanvas3,12" width="25" height="25" style="border:1px solid #d3d3d3;"></canvas>
        <canvas id="myCanvas3,13" width="25" height="25" style="border:1px solid #d3d3d3;"></canvas>
        <canvas id="myCanvas3,14" width="25" height="25" style="border:1px solid #d3d3d3;"></canvas>
        <canvas id="myCanvas3,15" width="25" height="25" style="border:1px solid #d3d3d3;"></canvas>
        <canvas id="myCanvas3,16" width="25" height="25" style="border:1px solid #d3d3d3;"></canvas>
        <br />
        <canvas id="myCanvas2,1" width="25" height="25" style="border:1px solid #d3d3d3;"></canvas>
        <canvas id="myCanvas2,2" width="25" height="25" style="border:1px solid #d3d3d3;"></canvas>
        <canvas id="myCanvas2,3" width="25" height="25" style="border:1px solid #d3d3d3;"></canvas>
        <canvas id="myCanvas2,4" width="25" height="25" style="border:1px solid #d3d3d3;"></canvas>
        <canvas id="myCanvas2,5" width="25" height="25" style="border:1px solid #d3d3d3;"></canvas>
        <canvas id="myCanvas2,6" width="25" height="25" style="border:1px solid #d3d3d3;"></canvas>
        <canvas id="myCanvas2,7" width="25" height="25" style="border:1px solid #d3d3d3;"></canvas>
        <canvas id="myCanvas2,8" width="25" height="25" style="border:1px solid #d3d3d3;"></canvas>
        <canvas id="myCanvas2,9" width="25" height="25" style="border:1px solid #d3d3d3;"></canvas>
        <canvas id="myCanvas2,10" width="25" height="25" style="border:1px solid #d3d3d3;"></canvas>
        <canvas id="myCanvas2,11" width="25" height="25" style="border:1px solid #d3d3d3;"></canvas>
        <canvas id="myCanvas2,12" width="25" height="25" style="border:1px solid #d3d3d3;"></canvas>
        <canvas id="myCanvas2,13" width="25" height="25" style="border:1px solid #d3d3d3;"></canvas>
        <canvas id="myCanvas2,14" width="25" height="25" style="border:1px solid #d3d3d3;"></canvas>
        <canvas id="myCanvas2,15" width="25" height="25" style="border:1px solid #d3d3d3;"></canvas>
        <canvas id="myCanvas2,16" width="25" height="25" style="border:1px solid #d3d3d3;"></canvas>
        <br />
        <canvas id="myCanvas1,1" width="25" height="25" style="border:1px solid #d3d3d3;"></canvas>
        <canvas id="myCanvas1,2" width="25" height="25" style="border:1px solid #d3d3d3;"></canvas>
        <canvas id="myCanvas1,3" width="25" height="25" style="border:1px solid #d3d3d3;"></canvas>
        <canvas id="myCanvas1,4" width="25" height="25" style="border:1px solid #d3d3d3;"></canvas>
        <canvas id="myCanvas1,5" width="25" height="25" style="border:1px solid #d3d3d3;"></canvas>
        <canvas id="myCanvas1,6" width="25" height="25" style="border:1px solid #d3d3d3;"></canvas>
        <canvas id="myCanvas1,7" width="25" height="25" style="border:1px solid #d3d3d3;"></canvas>
        <canvas id="myCanvas1,8" width="25" height="25" style="border:1px solid #d3d3d3;"></canvas>
        <canvas id="myCanvas1,9" width="25" height="25" style="border:1px solid #d3d3d3;"></canvas>
        <canvas id="myCanvas1,10" width="25" height="25" style="border:1px solid #d3d3d3;"></canvas>
        <canvas id="myCanvas1,11" width="25" height="25" style="border:1px solid #d3d3d3;"></canvas>
        <canvas id="myCanvas1,12" width="25" height="25" style="border:1px solid #d3d3d3;"></canvas>
        <canvas id="myCanvas1,13" width="25" height="25" style="border:1px solid #d3d3d3;"></canvas>
        <canvas id="myCanvas1,14" width="25" height="25" style="border:1px solid #d3d3d3;"></canvas>
        <canvas id="myCanvas1,15" width="25" height="25" style="border:1px solid #d3d3d3;"></canvas>
        <canvas id="myCanvas1,16" width="25" height="25" style="border:1px solid #d3d3d3;"></canvas>
    </div>
    <div class="col-md-2">
        <input type="text" id="Array_X" name="Array_X" />
        <input type="text" id="Array_Y" name="Array_Y" />

        <div class="col-md-9">
            <input class="form-control col-md-3 " id="SlabID" name="SlabID" type="text" value="">
        </div>

        <button onclick="fill()" class="btn btn-primary" style="align-content:center">Fill</button>
    </div>
</body>
</html>

<script type="text/javascript">

    function fill() {
        var x = document.getElementsByName("Array_X").values;
        var y = document.getElementById("Array_Y").nodeValue;
        var myCanvas = "myCanvas" + x + "," + y + "," + id;

        //alert(myCanvas);
        var c = document.getElementById(myCanvas);
        var ctx = c.getContext("2d");
        ctx.fillStyle = "#FF0000";
        ctx.fillRect(0, 0, 51, 51);
    }
</script>
